
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

.t{
  display:flex;
  justify-content: center;
  align-items: center;
}


.column {
  width: 40%;
  padding: 10 10px;
}

.row {
  display:flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

